{% extends 'monitor/main.html' %}
{% block content %}
{% include 'monitor/newbar.html' %}




    <div style="position: relative; font-size: 20px;color: #24242a;margin-left: 350px"></div>

<div>
        <form method="post" class="transparent" id="check" style="max-width: 500px; background-color: #2e6da4" >
        <div class="form-inner" >
            {% csrf_token %}
            <label>check medo</label>

            <input type="submit" value="check_medo" />
        </div>
        </form>
    </div>

    {% verbatim %}


    <div id="demo" style="margin-left: 50%">
      <form id="search">
        Search <input name="query" v-model="searchQuery" />
      </form>
      <demo-grid
        :heroes="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
      >
      </demo-grid>
    </div>

    <div class="container" id="test_vue" style="margin-left: 350px; font-size: 30px;max-width: 90%">
        <div v-on:click="webcamSendRequestButton(0)" class="btn btn-success btn-lg" >Нажми меня

        </div>
        <table class="table_new" style="position: relative">
            <thead>
            <th style="width: 30px; border-color: #2a2a2a">check</th>
             <th>Тип пакета</th>
             <th>Адрес</th>
             <th>№ дока</th>
             <th>Дата</th>
            </thead>
            <tbody>
        <div class="table ">
                <tr v-for="result in orders">
                    <td><input type="checkbox"></td>
                <td>{{ result.PacketType }}</td>
                    <td>{{ result.Addr }}</td>
                    <td>{{ result.Ndoc }}</td>
                    <td>{{ result.DateDoc }}</td>
                </tr>
        </div>
            </tbody>
        </table>
    </div>
    {% endverbatim %}

<!-- Your custom script here -->


   <!-- component template -->


{% endblock %}