{% extends "monitor/main.html" %}
{% load static %}
<style>

</style>
{% block content %}
    {% include 'monitor/navbar.html' %}
    <div class="table_new">
    <h1 align="center" style="text-transform: uppercase">{{ srvaddr }}</h1>
        <h1>{{ text }}</h1>
<table class="table_new">
<thead><th>session_id</th>
<th>status</th>
<th>wait_type</th>
<th>command</th>
<th>last_wait_type</th>
<th>percent_complete</th>
<th>qt.text</th>
<th>total_elapsed_time, сек</th>
<th>wait_time, сек</th>
<th>work_time, сек</th></thead>
    {% for a in delay1 %}
        <tbody>
        <tr><td>{{ a.0 }}</td>
        <td>{{ a.1 }}</td>
        <td>{{ a.2 }}</td>
        <td>{{ a.3 }}</td>
        <td>{{ a.4 }}</td>
        <td>{{ a.5 }}</td>
        <td>{{ a.6 }}</td>
        <td>{{ a.7 }}</td>
        <td>{{ a.8 }}</td>
        <td>{{ a.9 }}</td></tr></tbody>
    {% endfor %}

</table>
    </div>
{% endblock %}